.nav-title {
    margin-right: 200px;
}
.nav-select {
    margin-top: 10px;
}
.nav-btn {
    width: 150px;
}


.form-input{
    width: 60%;
}
.form-input-select{
    width: 70%;
}
.form-dl-input-select{
    width: 110%;
}
.add-is-sd-tr{

}
.add-fa-xw-tr{

}
.sd-table{
    margin-top: -21px;
}
.sd-add-table{
    margin-top: -21px;
}
.sd-fa-info{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.dd-search{
    margin-top: 12%;
}
.is-search{
    margin-top: 8%;
    margin-bottom: 0px;
}
