<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="nav">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <img alt="TrafficLight" src="/imgs/title.png" style="width: 25px;">
                </a>
                <a class="navbar-brand nav-title" href="/">交通信号配时管理系统</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            方案信息管理<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/projects/add">方案信息录入</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/projects/edit">方案信息编辑</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/projects/query">方案信息查询</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            路口信息管理<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/intersections/add">路口信息录入</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/intersections/edit">路口信息编辑</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/intersections/query">路口信息查询</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            大队信息管理<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/brigades/add">大队信息录入</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/roads/add">道路信息录入</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/roads/query">道路信息查询</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            统计信息<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/brigades/sts">大队统计</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/roads/sts">道路统计</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/intersections/sts">路口统计</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/projects/sts">方案统计</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li th:if="${session.user != null}">
                        <a href="/"><span th:text="${session.user.getUsername()}"></span></a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

</div>

<div th:fragment="foot" class="footer">
    <div>Copyright © 2019 <a href="https://github.com/jupiter-maker/community">Jupiter</a> 服务赞助：<a href="https://cloud.tencent.com/?fromSource=gwzcw.330897.330897.330897">腾讯云</a>    苏ICP备000000000号-3苏公网安备</div>
</div>
</body>
</html>
