<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jupiter.ts.mapper.BrigadeExtMapper">
    <resultMap id="BaseResultMap" type="com.jupiter.ts.dto.BrigadeDto">

        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="dd_name" jdbcType="VARCHAR" property="ddName"/>
        <result column="is_num" jdbcType="INTEGER" property="isNum"/>
    </resultMap>
<!--    <resultMap id="BrigadeStsMap" type="com.jupiter.ts.model.BrigadeSts">-->

<!--        <id column="id" jdbcType="INTEGER" property="ddId"/>-->
<!--        <result column="dd_name" jdbcType="VARCHAR" property="ddName"/>-->
<!--        <result column="dl_name" jdbcType="VARCHAR" property="dlName"/>-->
<!--        <result column="dl_id" jdbcType="INTEGER" property="dlId"/>-->
<!--    </resultMap>-->

    <select id="selectBrigadeList" resultMap="BaseResultMap">
       SELECT dd.id id,dd.dd_name,COUNT(*) is_num
       FROM ts_dd dd
       LEFT JOIN ts_is ist
       ON ist.is_dd_id = dd.id
       GROUP BY dd.id
    </select>

<!--    <select id="selectBrigadeSts" parameterType="java.lang.Integer" resultMap="BrigadeStsMap">-->
<!--       SELECT dd.id id,dd.dd_name,dl_name,dl.id dl_id-->
<!--       FROM ts_dd dd-->
<!--       INNER JOIN ts_dl dl ON dd.id = dl.dl_dd_id-->
<!--       WHERE dd.id = #{ddId}-->
<!--    </select>-->



</mapper>