<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jupiter.ts.mapper.IntervalExtMapper">
    <resultMap id="BaseResultMap" type="com.jupiter.ts.dto.IntervalDto">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="sd_start" jdbcType="VARCHAR" property="sdStart" />
        <result column="fa_id" jdbcType="INTEGER" property="faId" />
        <result column="sd_end" jdbcType="VARCHAR" property="sdEnd" />
        <result column="fa_name" jdbcType="VARCHAR" property="faName" />
        <result column="fa_method" jdbcType="BIGINT" property="faMethod" />
        <result column="fa_zxw" jdbcType="INTEGER" property="faZxw" />
        <result column="fa_xwc" jdbcType="INTEGER" property="faXwc" />
        <result column="fa_zqcd" jdbcType="INTEGER" property="faZqcd" />
        <result column="fa_zxw_name" jdbcType="VARCHAR" property="faZxwName" />
    </resultMap>

    <select id="selectByIsId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT sd.id,fa.id fa_id,sd_start,sd_end,fa_name,fa_method,fa_zxw,fa_zxw_name,fa_xwc,fa_zqcd
        FROM ts_sd sd
        INNER JOIN ts_fa fa
        ON sd.sd_fa_id = fa.id
        WHERE sd.sd_is_id = #{id,jdbcType=INTEGER} ORDER BY sd.sd_start
    </select>

    <select id="selectIsNumByIsId" resultType="java.lang.Integer">
        SELECT COUNT(*) isNum
        FROM (
            SELECT COUNT(*) isSdNum,sd_is_id isId FROM ts_sd GROUP BY sd_is_id
        ) sd_is
        WHERE sd_is.isId IN
        <foreach close=")" collection="list" item="listItem" open="(" separator=",">
            #{listItem}
        </foreach>
    </select>

</mapper>